<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart</title>
    <style>
        .charBox {
            width: 300px;
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <p>
        Current min light intensity: {{current_min_light_intensity}}
    </p>

    <form method="POST">
        <table>
            <tr>
                <td>Turn on the phytolamp when the light intensity value is less than</td>
                <td><input type="text" name="value_intensity"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Save"></td>
            </tr>
        </table>
    </form>
    <div class="chartBox">
       <canvas id="lineChart_1"></canvas>
    </div>
    <div class="chartBox">
        <canvas id="lineChart_2"></canvas>
     </div>
     <div class="chartBox">
        <canvas id="lineChart_3"></canvas>
     </div>
     <div class="chartBox">
        <canvas id="lineChart_4"></canvas>
     </div>
     <div class="chartBox">
        <canvas id="lineChart_5"></canvas>
     </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById("lineChart_1").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ labels | safe }},
                datasets: [
                    {
                        label: "Температура почвы",
                        data: {{ data_st | safe }},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                responsive: false
            }
        });
    </script>
     <script>
        var ctx = document.getElementById("lineChart_2").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ labels | safe }},
                datasets: [
                    {
                        label: "Влажность почвы",
                        data: {{ data_sh | safe }},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                responsive: false
            }
        });
    </script>
     <script>
        var ctx = document.getElementById("lineChart_3").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ labels | safe }},
                datasets: [
                    {
                        label: "Температура воздуха",
                        data: {{ data_at | safe }},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                responsive: false
            }
        });
    </script>
    <script>
        var ctx = document.getElementById("lineChart_4").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ labels | safe }},
                datasets: [
                    {
                        label: "Влажность воздуха",
                        data: {{ data_ah | safe }},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                responsive: false
            }
        });
    </script>
    <script>
        var ctx = document.getElementById("lineChart_5").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ labels | safe }},
                datasets: [
                    {
                        label: "Интенсивность света",
                        data: {{ data_li | safe }},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                responsive: false
            }
        });
    </script>
</body>
</html>